---
version: 1
interactions:
- request:
    body: '{"authentication_method":"password","id":1203319,"sso_strategy_id":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/users/1203319
    method: PATCH
  response:
    body: '{"id":1203319,"username":"test-automations-user","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2022-12-14T19:17:18-05:00","dav_permission":true,"disabled":false,"email":null,"first_login_at":null,"ftp_permission":true,"group_ids":"","header_text":null,"language":"","last_login_at":null,"last_web_login_at":null,"last_ftp_login_at":null,"last_sftp_login_at":null,"last_dav_login_at":null,"last_desktop_login_at":null,"last_restapi_login_at":null,"last_api_use_at":null,"last_active_at":"2022-12-14T19:17:18-05:00","last_protocol_cipher":null,"lockout_expires":null,"name":null,"company":null,"notes":null,"notification_daily_send_time":null,"office_integration_enabled":true,"password_set_at":null,"password_validity_days":0,"public_keys_count":0,"require_2fa":"use_system_setting","active_2fa":false,"require_password_change":false,"password_expired":false,"restapi_permission":true,"self_managed":true,"sftp_permission":true,"site_admin":false,"skip_welcome_screen":false,"ssl_required":"use_system_setting","sso_strategy_id":null,"externally_managed":false,"time_zone":"Eastern
      Time (US \u0026 Canada)","type_of_2fa":null,"updated_at":"2022-12-14T19:17:19-05:00","user_root":"","days_remaining_until_password_expire":0,"password_expire_at":"2022-12-14T19:17:18-05:00"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
