---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"7189a3c8ccef03722332c53b94e96a79","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)","type":"directory","size":null,"created_at":"2025-05-23T17:31:33Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:33Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"src-root","type":"directory","size":null,"created_at":"2025-05-23T17:31:33Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:33Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root/src","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"src","type":"directory","size":null,"created_at":"2025-05-23T17:31:33Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:33Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src/foo
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root/src/foo","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"foo","type":"directory","size":null,"created_at":"2025-05-23T17:31:33Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:33Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T17:46:34Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456077510","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/a6639777-73e1-4236-9f59-0df6588aeeb5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T173134Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=ebz4eYK_1nJ4hpfEOfXppXZkG4kuOA_.GO3UCQ0J3ZXoc1Pr0EPzisn8vxRbHthkHFepPoJF00r8k1PIC1Og7UmBpKkPTJ4a5dvurKkvy2lUrm80xyUbhR0wMi43NgBw\u0026X-Amz-Signature=04c5670db6cc065746946da41fa36a39e62ff75ebd9386abfa20d598f4e0dbab"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/a6639777-73e1-4236-9f59-0df6588aeeb5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T173134Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=ebz4eYK_1nJ4hpfEOfXppXZkG4kuOA_.GO3UCQ0J3ZXoc1Pr0EPzisn8vxRbHthkHFepPoJF00r8k1PIC1Og7UmBpKkPTJ4a5dvurKkvy2lUrm80xyUbhR0wMi43NgBw&X-Amz-Signature=04c5670db6cc065746946da41fa36a39e62ff75ebd9386abfa20d598f4e0dbab
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - XZRC8AMPCWC39QN4
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"ref":"put-13456077510"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root/src/foo/baz.txt","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"baz.txt","type":"file","size":0,"created_at":"2025-05-23T17:31:37Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:37Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src/foo
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root/src/foo","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"foo","type":"directory","size":null,"created_at":"2025-05-23T17:31:33Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:37Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root/src/foo/baz.txt","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"baz.txt","type":"file","size":0,"created_at":"2025-05-23T17:31:37Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:37Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/a6639777-73e1-4236-9f59-0df6588aeeb5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T173137Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22\u0026response-content-type=text%2Fplain\u0026X-Amz-Signature=e69aae520ee2b09f1706b4c63b3c78d698900af3b6d6ff5d89a2d833de4b9b21"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/a6639777-73e1-4236-9f59-0df6588aeeb5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T173137Z&X-Amz-Expires=60&X-Amz-SignedHeaders=host&response-cache-control=no-cache%2C%20no-store&response-content-disposition=attachment%3B%20filename%3D%22baz.txt%22&response-content-type=text%2Fplain&X-Amz-Signature=e69aae520ee2b09f1706b4c63b3c78d698900af3b6d6ff5d89a2d833de4b9b21
    method: GET
  response:
    body: ""
    headers:
      Content-Disposition:
      - attachment; filename="baz.txt"
      Content-Type:
      - text/plain
      Etag:
      - '"59adb24ef3cdbe0297f05b395827453f-1"'
      Last-Modified:
      - Fri, 23 May 2025 17:31:35 GMT
      X-Amz-Meta-X-Amz-Meta-Gid:
      - "65534"
      X-Amz-Meta-X-Amz-Meta-Mode:
      - "33188"
      X-Amz-Meta-X-Amz-Meta-Uid:
      - "65534"
      X-Amz-Request-Id:
      - 1EWR38T2Z5FPVEED
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - "null"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root/src/foo
    method: GET
  response:
    body: '[{"path":"tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_(with_destination_slash)/src-root/src/foo/baz.txt","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"baz.txt","type":"file","size":0,"created_at":"2025-05-23T17:31:37Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:31:37Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Cached-Response:
      - "1748021497"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestDownload-files-cli_download-copy_contents_of_foo_to_bar_%28with_destination_slash%29/src-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
