---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/you%20will%20never%20find%20me
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"44a92484-81e8-4e29-bfe2-5bc8f67e36cf","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
