---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/you%20will%20never%20find%20me
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"a0c6bb91c909b810fb9c0ad5f79006a0","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
