---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/users
    method: GET
  response:
    body: '[{"id":1177882,"username":"adam.v.duke@gmail.com","admin_group_ids":[],"allowed_ips":null,"attachments_permission":true,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billable":true,"billing_permission":false,"bypass_site_allowed_ips":false,"bypass_inactive_disable":false,"created_at":"2025-03-17T16:21:25-04:00","dav_permission":true,"disabled":false,"disabled_expired_or_inactive":false,"email":"adam.v.duke@gmail.com","first_login_at":"2025-03-17T16:21:26-04:00","ftp_permission":true,"group_ids":"","header_text":null,"language":"","last_login_at":"2025-05-14T16:12:05-04:00","last_web_login_at":"2025-05-14T16:12:05-04:00","last_ftp_login_at":null,"last_sftp_login_at":null,"last_dav_login_at":null,"last_desktop_login_at":null,"last_restapi_login_at":null,"last_api_use_at":null,"last_active_at":"2025-05-14T16:12:05-04:00","last_protocol_cipher":"TLSv1.3;
      TLS_AES_256_GCM_SHA384","lockout_expires":null,"name":null,"company":null,"notes":null,"notification_daily_send_time":null,"office_integration_enabled":true,"password_set_at":null,"password_validity_days":0,"public_keys_count":0,"receive_admin_alerts":true,"require_2fa":"use_system_setting","require_login_by":null,"active_2fa":false,"require_password_change":false,"password_expired":false,"readonly_site_admin":false,"restapi_permission":true,"self_managed":true,"sftp_permission":true,"site_admin":true,"site_id":134942,"skip_welcome_screen":false,"ssl_required":"use_system_setting","sso_strategy_id":null,"subscribe_to_newsletter":false,"externally_managed":false,"time_zone":"Eastern
      Time (US \u0026 Canada)","type_of_2fa":null,"type_of_2fa_for_display":null,"user_root":"","user_home":"","days_remaining_until_password_expire":null,"password_expire_at":null}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"password":"Foo123456789!","username":"test-automations-user"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/users
    method: POST
  response:
    body: '{"id":1203319,"username":"test-automations-user","admin_group_ids":[],"allowed_ips":null,"attachments_permission":false,"api_keys_count":0,"authenticate_until":null,"authentication_method":"password","avatar_url":null,"billable":false,"billing_permission":false,"bypass_site_allowed_ips"[...]
