---
version: 1
interactions:
- request:
    body: '{"body":"this is a success test","status":"success"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/external_events
    method: POST
  response:
    body: '{"id":9836578,"event_type":"client_log","status":"success","body":"this
      is a success test","created_at":"2021-06-25T11:23:05-04:00","body_url":null}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
