---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"af6cf2912387b3bb3662963200f4b860","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:43Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456296679","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/6fed297a-2b79-4e72-8f67-d73583bf91c0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175043Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=..xGTMThaXMsyGjKU4huFMy5jDiznl4f4uVk1__qYLczzJ3ciO9TqF_OblGNoVtbyVqKSWnsbkcw.jKSn6o8tSU8CfmRsEhdQ2Z.MsAE75t5pUsbwdBjtB9oqJ0O4Qjo\u0026X-Amz-Signature=21fb8ccddd1833c4a2e4fe0bc8f1258e1b610879a1384e62e778440c81539165"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/6fed297a-2b79-4e72-8f67-d73583bf91c0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175043Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=..xGTMThaXMsyGjKU4huFMy5jDiznl4f4uVk1__qYLczzJ3ciO9TqF_OblGNoVtbyVqKSWnsbkcw.jKSn6o8tSU8CfmRsEhdQ2Z.MsAE75t5pUsbwdBjtB9oqJ0O4Qjo&X-Amz-Signature=21fb8ccddd1833c4a2e4fe0bc8f1258e1b610879a1384e62e778440c81539165
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - W3WR0GKK6E6TMKPR
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"ab6e3983b98e417df77242b035504638","part":"1"}],"mkdir_parents":true,"ref":"put-13456296679","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete/1.text","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"1.text","type":"file","size":9,"created_at":"2025-05-23T17:50:44Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:44Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete
    method: DELETE
  response:
    body: '{"error":"Folder test-dir-files-delete not empty","http-code":422,"instance":"10448b8b2e16469a29dc21961e155145","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/folder-not-empty
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
