---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete-r
    method: POST
  response:
    body: '{"display_name":"test-dir-files-delete-r","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete-r/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-30T22:49:06Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4073411289","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1d00844b-786c-4797-ae49-563afb476c80?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210330T223406Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=tV3PEb2QVPwSGGqz5qsDttpAMkzX6x44EUfsQfgMU8kRFfI23t_8lEBz2MoyC7ToZ1TKr9kwbQPDrQw9Fotb.4hdaQmpe_ZN2yUgIRuTl13czjWU9ibPL68sLNKRA5NC\u0026X-Amz-Signature=3879f30a0e33167a3bf817469c348fe03fb67dc8aca513fa761e15f549489dd7"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/1d00844b-786c-4797-ae49-563afb476c80?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210330T223406Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=tV3PEb2QVPwSGGqz5qsDttpAMkzX6x44EUfsQfgMU8kRFfI23t_8lEBz2MoyC7ToZ1TKr9kwbQPDrQw9Fotb.4hdaQmpe_ZN2yUgIRuTl13czjWU9ibPL68sLNKRA5NC&X-Amz-Signature=3879f30a0e33167a3bf817469c348fe03fb67dc8aca513fa761e15f549489dd7
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - H6AFS6DK83A33K82
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"ab6e3983b98e417df77242b035504638\"","etags[0][part]":"1","provided_mtime":"2021-03-30T15:34:06-07:00","ref":"put-4073411289","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete-r/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete-r/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-03-30T22:34:07Z","provided_mtime":"2021-03-30T22:34:06Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete-r?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
