---
version: 1
interactions:
- request:
    body: '{"body":"this is a success test","status":"success"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/external_events
    method: POST
  response:
    body: '{"id":259050472,"event_type":"client_log","status":"success","body":"this
      is a success test","created_at":"2025-05-23T13:47:09-04:00","body_url":null,"folder_behavior_id":null,"siem_http_destination_id":null,"successful_files":0,"errored_files":0,"bytes_synced":0,"compared_files":0,"compared_folders":0,"remote_server_type":null}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
