---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"13ed69b0-6ce2-4c3d-aed4-8cbb15789d29","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-20T23:10:56Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-52610632","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/9bea1b47-de6c-44f2-9992-f3311d0bbd46?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210920%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210920T225556Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=aM8uM5pnEPMm8KbmAb6yr8BJs3h3nQMO8Um8Ha00R40R4AT8uj2USxYmqr_7Y6eLUZNdSJBp8rh5weiHd9nvZnmEhXlzgUNeGmiRUWHjhW9vUw0Sha4FhHGmJPZbAak2\u0026X-Amz-Signature=37ce29ddcf1e4a5777ac16b26339f56c409900b4948df29aed7dd56b5a87eb73"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/9bea1b47-de6c-44f2-9992-f3311d0bbd46?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210920%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210920T225556Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=aM8uM5pnEPMm8KbmAb6yr8BJs3h3nQMO8Um8Ha00R40R4AT8uj2USxYmqr_7Y6eLUZNdSJBp8rh5weiHd9nvZnmEhXlzgUNeGmiRUWHjhW9vUw0Sha4FhHGmJPZbAak2&X-Amz-Signature=37ce29ddcf1e4a5777ac16b26339f56c409900b4948df29aed7dd56b5a87eb73
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - AJS8STMPDJ93BY3G
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"ab6e3983b98e417df77242b035504638\"","etags[0][part]":"1","provided_mtime":"2021-09-20T15:55:57-07:00","ref":"put-52610632","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-09-20T22:55:57Z","provided_mtime":"2021-09-20T22:55:57Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete
    method: DELETE
  response:
    body: '{"error":"Folder test-dir-files-delete not empty","http-code":422,"instance":"2de5d032-cea4-461a-988a-1438a183de01","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
