---
version: 1
interactions:
- request:
    body: '{"paths":["folder1"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/bundles
    method: POST
  response:
    body: >
      {"error":"Filename Departments/Sales/Sales Prospect Upload/1099 Agents/FirstNameExtension
      doesn't exist or can't be read by you","http-code":422,"instance":"ccfc1c11d53f2ae88e06b44b16ff09c8",
      "title":"Model Save Error","type":"processing-failure/model-save-error"}
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-authenticated/invalid-credentials
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
