---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload.go
    method: GET
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"916dc9c8-ec0f-455f-a926-9ff635d79905","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload.go
    method: POST
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"b6660f96-c322-452c-b460-47e8a6f05128","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
