---
version: 1
interactions:
- request:
    body: '{"paths":["folder1"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/bundles
    method: POST
  response:
    body: '{"error":"Filename folder1 doesn''t exist or can''t be read and/or shared
      by you","http-code":422,"instance":"1aefb0f9bf8388961b4ac9c29965014a","model_errors":{"filename":["Filename
      folder1 doesn''t exist or can''t be read and/or shared by you"]},"model_error_keys":{"filename":["folder1
      doesn''t exist or can''t be read and/or shared by you"]},"errors":["Filename
      folder1 doesn''t exist or can''t be read and/or shared by you"],"title":"Model
      Save Error","type":"processing-failure/model-save-error"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/model-save-error
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
