---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy
    method: POST
  response:
    body: '{"display_name":"TestFolders_ListFor_FilterBy","type":"directory","size":null,"created_at":"2023-01-26T00:32:14Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy/cars
    method: POST
  response:
    body: '{"display_name":"cars","type":"directory","size":null,"created_at":"2023-01-26T00:32:14Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/space.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-26T00:47:15Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3954828176","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/45d6604b-4fdf-462d-ad8c-21ca419095fc?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230126T003215Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=kKcJUGFQSiI0TI_cCMEUF8h256Vf.kvlB711rsU5EzDmQHy1iQ4aRdIqxM5PgypJj55wyUBvr2ItUejuNmHXCJBGD2PF7n0LpJsEqpMKWACYuaGfmRk_TYhGzWvlkEOO\u0026X-Amz-Signature=78ac7015a0028ea0ef23672f90a2cc4c717219af63a4bff254b4c939e3020a0c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 0
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/45d6604b-4fdf-462d-ad8c-21ca419095fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T003215Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=kKcJUGFQSiI0TI_cCMEUF8h256Vf.kvlB711rsU5EzDmQHy1iQ4aRdIqxM5PgypJj55wyUBvr2ItUejuNmHXCJBGD2PF7n0LpJsEqpMKWACYuaGfmRk_TYhGzWvlkEOO&X-Amz-Signature=78ac7015a0028ea0ef23672f90a2cc4c717219af63a4bff254b4c939e3020a0c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"17522b7187d4320a39cc5f674f45d7dc"'
      X-Amz-Request-Id:
      - X3PVFGH21KHQ970T
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"17522b7187d4320a39cc5f674f45d7dc","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-25T16:32:14.80354-08:00","ref":"put-3954828176","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/space.txt
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/space.txt","display_name":"space.txt","type":"file","size":9,"created_at":"2023-01-26T00:32:16Z","mtime":"2023-01-26T00:32:16Z","provided_mtime":"2023-01-26T00:32:14Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/food.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-26T00:47:16Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3954828321","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/74138fa0-fc69-4031-ae63-0b9f5f1172a2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230126T003216Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=6N.PyMQ1PyMs15fvELGXq3aYSRPmdaNy7DMbXIAiMNDZy7sbc8RJHS_aPttdkQuFOQJ6L7vlpjYtPzAJMlfxpgJ_NbCNjngWV8bEuH0FuT7YETsiKk98bWWSDiH4KWhx\u0026X-Amz-Signature=5f083f2eed36acbc28bfc5f06cdbcdba9657713fd34fa5b17611c24ade927f79"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/74138fa0-fc69-4031-ae63-0b9f5f1172a2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T003216Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=6N.PyMQ1PyMs15fvELGXq3aYSRPmdaNy7DMbXIAiMNDZy7sbc8RJHS_aPttdkQuFOQJ6L7vlpjYtPzAJMlfxpgJ_NbCNjngWV8bEuH0FuT7YETsiKk98bWWSDiH4KWhx&X-Amz-Signature=5f083f2eed36acbc28bfc5f06cdbcdba9657713fd34fa5b17611c24ade927f79
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - CFXGQR03GX3SSNFS
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"ab6e3983b98e417df77242b035504638","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-25T16:32:16.358236-08:00","ref":"put-3954828321","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/food.txt
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/food.txt","display_name":"food.txt","type":"file","size":9,"created_at":"2023-01-26T00:32:17Z","mtime":"2023-01-26T00:32:17Z","provided_mtime":"2023-01-26T00:32:16Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/cars/car.jpg
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-26T00:47:18Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3954828441","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1795aced-8cb5-4f67-b00f-7900eaac4489?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230126T003218Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Gkf3CP3Aj5t01tVXVsSOaGDCEtXmVeTp3xDnEGJpV63Azo8QYyl10KER3MjEJC8eOdEU6tBWIvWov0K2Qn5fo_y5NR1D5q4rc2o6L5NsgmGmLqlV3qDWoTkkQnqMHHjm\u0026X-Amz-Signature=7fee965deb39837f41ce288dc4d4d0719d32995afe36d3ad95ab6a56497d1e8e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1795aced-8cb5-4f67-b00f-7900eaac4489?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T003218Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Gkf3CP3Aj5t01tVXVsSOaGDCEtXmVeTp3xDnEGJpV63Azo8QYyl10KER3MjEJC8eOdEU6tBWIvWov0K2Qn5fo_y5NR1D5q4rc2o6L5NsgmGmLqlV3qDWoTkkQnqMHHjm&X-Amz-Signature=7fee965deb39837f41ce288dc4d4d0719d32995afe36d3ad95ab6a56497d1e8e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f29e2ea37b89dc6c1a7522523109e5c0"'
      X-Amz-Request-Id:
      - 5ZWFXRJH6WJESYW0
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f29e2ea37b89dc6c1a7522523109e5c0","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-25T16:32:17.664785-08:00","ref":"put-3954828441","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/cars/car.jpg
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/cars/car.jpg","display_name":"car.jpg","type":"file","size":9,"created_at":"2023-01-26T00:32:18Z","mtime":"2023-01-26T00:32:18Z","provided_mtime":"2023-01-26T00:32:17Z","crc32":null,"md5":null,"mime_type":"image/jpeg","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/cars/super-car.jpg
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-26T00:47:19Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3954828540","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e73ea505-2eb5-4988-b2d2-a58fbd2204ec?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230126T003219Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=WxBFip.dNeyUfSOvGHz5Rk8u3PFqmVTj0fUeifbDOaWF0pZ.r0Ve8Kr.DluZ9_FgfhDYf.kq4vWXNpSmjGSwKVn16oFaSifiEcL77AnFnQJvTE8UFNYwHCUePJY_b6bv\u0026X-Amz-Signature=1be9f5f87babac59b04d2174ec8ca34deb3b62b7d9b83bf8c7929c4a0b50527c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/e73ea505-2eb5-4988-b2d2-a58fbd2204ec?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T003219Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=WxBFip.dNeyUfSOvGHz5Rk8u3PFqmVTj0fUeifbDOaWF0pZ.r0Ve8Kr.DluZ9_FgfhDYf.kq4vWXNpSmjGSwKVn16oFaSifiEcL77AnFnQJvTE8UFNYwHCUePJY_b6bv&X-Amz-Signature=1be9f5f87babac59b04d2174ec8ca34deb3b62b7d9b83bf8c7929c4a0b50527c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - MBQ4FB746WT1Y4YX
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-25T16:32:18.969001-08:00","ref":"put-3954828540","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/cars/super-car.jpg
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/cars/super-car.jpg","display_name":"super-car.jpg","type":"file","size":9,"created_at":"2023-01-26T00:32:20Z","mtime":"2023-01-26T00:32:20Z","provided_mtime":"2023-01-26T00:32:18Z","crc32":null,"md5":null,"mime_type":"image/jpeg","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestFolders_ListFor_FilterBy
    method: GET
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy","display_name":"TestFolders_ListFor_FilterBy","type":"directory","size":null,"created_at":"2023-01-26T00:32:14Z","mtime":"2023-01-26T00:32:20Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy?page=1
    method: GET
  response:
    body: '[{"path":"TestFolders_ListFor_FilterBy/cars","display_name":"cars","type":"directory","size":null,"created_at":"2023-01-26T00:32:14Z","mtime":"2023-01-26T00:32:20Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"TestFolders_ListFor_FilterBy/food.txt","display_name":"food.txt","type":"file","size":9,"created_at":"2023-01-26T00:32:17Z","mtime":"2023-01-26T00:32:17Z","provided_mtime":"2023-01-26T00:32:16Z","crc32":"5867c1f8","md5":"ab6e3983b98e417df77242b035504638","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"},{"path":"TestFolders_ListFor_FilterBy/space.txt","display_name":"space.txt","type":"file","size":9,"created_at":"2023-01-26T00:32:16Z","mtime":"2023-01-26T00:32:16Z","provided_mtime":"2023-01-26T00:32:14Z","crc32":"2f60f16e","md5":"17522b7187d4320a39cc5f674f45d7dc","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy/cars?page=1
    method: GET
  response:
    body: '[{"path":"TestFolders_ListFor_FilterBy/cars/car.jpg","display_name":"car.jpg","type":"file","size":9,"created_at":"2023-01-26T00:32:18Z","mtime":"2023-01-26T00:32:18Z","provided_mtime":"2023-01-26T00:32:17Z","crc32":"c16e9042","md5":"f29e2ea37b89dc6c1a7522523109e5c0","mime_type":"image/jpeg","region":"us-east-1","permissions":"lrwd"},{"path":"TestFolders_ListFor_FilterBy/cars/super-car.jpg","display_name":"super-car.jpg","type":"file","size":9,"created_at":"2023-01-26T00:32:20Z","mtime":"2023-01-26T00:32:20Z","provided_mtime":"2023-01-26T00:32:18Z","crc32":"b669a0d4","md5":"15e081c59a53cf6aadd83c7dc0e831d3","mime_type":"image/jpeg","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy?page=1
    method: GET
  response:
    body: '[{"path":"TestFolders_ListFor_FilterBy/cars","display_name":"cars","type":"directory","size":null,"created_at":"2023-01-26T00:32:14Z","mtime":"2023-01-26T00:32:20Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false},{"path":"TestFolders_ListFor_FilterBy/food.txt","display_name":"food.txt","type":"file","size":9,"created_at":"2023-01-26T00:32:17Z","mtime":"2023-01-26T00:32:17Z","provided_mtime":"2023-01-26T00:32:16Z","crc32":"5867c1f8","md5":"ab6e3983b98e417df77242b035504638","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"},{"path":"TestFolders_ListFor_FilterBy/space.txt","display_name":"space.txt","type":"file","size":9,"created_at":"2023-01-26T00:32:16Z","mtime":"2023-01-26T00:32:16Z","provided_mtime":"2023-01-26T00:32:14Z","crc32":"2f60f16e","md5":"17522b7187d4320a39cc5f674f45d7dc","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
      X-Files-Cached-Response:
      - "1674693141"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
