---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete-r
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"88996494-4ea2-44b1-9f72-105308cf912f","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete-r/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-11-30T01:08:41Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-18","upload_uri":"https://s3.amazonaws.com/dev.brickftp.com/metadata/1/1b42c5fd-a701-4355-b310-9aa856e3f1b0?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIM45HSA52WL42SVA%2F20221130%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221130T005341Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=lsElnkw56aEOucFulHL42LujyEq1e_nvtT05.S5OJSkzvzBI2YQJtK7YMfU1CJsbfOsCITIh1pMUL5gC3UARpJy0KVAiqYIF4bhamWPrp_.W6NVYphmSF8J7MVEXBrd9\u0026X-Amz-Signature=f489dbf4bb8f22574f7c549b6d8cc974dd3f824053da70e06dea779deb2720bf"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/dev.brickftp.com/metadata/1/1b42c5fd-a701-4355-b310-9aa856e3f1b0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIM45HSA52WL42SVA%2F20221130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221130T005341Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=lsElnkw56aEOucFulHL42LujyEq1e_nvtT05.S5OJSkzvzBI2YQJtK7YMfU1CJsbfOsCITIh1pMUL5gC3UARpJy0KVAiqYIF4bhamWPrp_.W6NVYphmSF8J7MVEXBrd9&X-Amz-Signature=f489dbf4bb8f22574f7c549b6d8cc974dd3f824053da70e06dea779deb2720bf
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - SFZY65JFTZ8KHAV5
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"ab6e3983b98e417df77242b035504638","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-18","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete-r/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete-r/1.text","display_name":"1.text","type":"file","size":9,"created_at":"2022-11-30T00:53:41Z","mtime":"2022-11-30T00:53:41Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete-r?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
