---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/uploadFilepush_DisableProgressOutput
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"fc93de9f-8682-4b00-ba8b-fefc0591d64e","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/uploadFilepush_DisableProgressOutput
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-14T05:58:46Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3795834869","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9b868c3e-ea8d-4ad3-a0fd-7134aa4c45a2?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230114T054346Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=NuHlVHG4NLjcs3SqPMM29oqmCRr2lcFA3ub9uYg.M_6sgJtTZ6Rcq67uXYAwSPrwHcAGQO2UXnewDYbUP6e3T8uWbyAYP2RjGOR5CWE9Rvm53tOZay7JXm_r2LmKV6pU\u0026X-Amz-Signature=e0ffcd3b87f8405f3a0ed58e9b7c0c5390426182fa1b8c151c8d38dea01b5ffb"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9b868c3e-ea8d-4ad3-a0fd-7134aa4c45a2?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230114T054346Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=NuHlVHG4NLjcs3SqPMM29oqmCRr2lcFA3ub9uYg.M_6sgJtTZ6Rcq67uXYAwSPrwHcAGQO2UXnewDYbUP6e3T8uWbyAYP2RjGOR5CWE9Rvm53tOZay7JXm_r2LmKV6pU&X-Amz-Signature=e0ffcd3b87f8405f3a0ed58e9b7c0c5390426182fa1b8c151c8d38dea01b5ffb
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - 7F3WKMDACPRXWTKM
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-13T21:43:45.066577095-08:00","ref":"put-3795834869","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_DisableProgressOutput
    method: POST
  response:
    body: '{"path":"uploadFilepush_DisableProgressOutput","display_name":"uploadFilepush_DisableProgressOutput","type":"file","size":9,"created_at":"2023-01-14T05:43:46Z","mtime":"2023-01-14T05:43:46Z","provided_mtime":"2023-01-14T05:43:45Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/uploadFilepush_format_none
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"2dbb8ff9-2352-4b15-a0ff-d718767088c4","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/uploadFilepush_format_none
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-14T05:58:48Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3795835067","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/41b0651c-45ca-47a6-8a7d-b242ac6b6531?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230114T054348Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=p4Xxg.2Ypico5NcsN4.c7d9yQrVxovXMceP_q2D4wZ_xUtccyNjS4zxa3Mj.55elcHgTOk.D0ZG4Ig660DU.NcmByJI2zTuqT_L6.tnh9Th4Ed1nT5ss7P2AbiFf81Ks\u0026X-Amz-Signature=cbad2420516deb8d29e2974e514de90af5646f87eec1154aa91d62ba851747f6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/41b0651c-45ca-47a6-8a7d-b242ac6b6531?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230114T054348Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=p4Xxg.2Ypico5NcsN4.c7d9yQrVxovXMceP_q2D4wZ_xUtccyNjS4zxa3Mj.55elcHgTOk.D0ZG4Ig660DU.NcmByJI2zTuqT_L6.tnh9Th4Ed1nT5ss7P2AbiFf81Ks&X-Amz-Signature=cbad2420516deb8d29e2974e514de90af5646f87eec1154aa91d62ba851747f6
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - BRWT6T7DV3PEJQEX
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-13T21:43:47.263840903-08:00","ref":"put-3795835067","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_format_none
    method: POST
  response:
    body: '{"path":"uploadFilepush_format_none","display_name":"uploadFilepush_format_none","type":"file","size":9,"created_at":"2023-01-14T05:43:48Z","mtime":"2023-01-14T05:43:49Z","provided_mtime":"2023-01-14T05:43:47Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/uploadFilepush_format
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"efcd0214-21fe-4247-9aec-f825bc7c4b18","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/uploadFilepush_format
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-14T05:58:50Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3795835233","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9207b42d-9932-47ae-8a0e-a827fcc2287b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230114T054350Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=VOYgH64ZhCnwH4pag5lp6RFzrHWIss0HOWr8iA2j_3OpAXwwqJRviK8_leHFcgL45umBRuZxSt0I3tXn4Oe9NVS7cMwx376oc6BMPfdA3C5uiFVgo94H4JO.srD4RmSc\u0026X-Amz-Signature=7447ba5098b6f921c42cd6ea6f9e3b3321b3c3c733bb0e406d97572a30da87c2"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/9207b42d-9932-47ae-8a0e-a827fcc2287b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230114T054350Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=VOYgH64ZhCnwH4pag5lp6RFzrHWIss0HOWr8iA2j_3OpAXwwqJRviK8_leHFcgL45umBRuZxSt0I3tXn4Oe9NVS7cMwx376oc6BMPfdA3C5uiFVgo94H4JO.srD4RmSc&X-Amz-Signature=7447ba5098b6f921c42cd6ea6f9e3b3321b3c3c733bb0e406d97572a30da87c2
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - G86RQ275AGBXMCDS
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-13T21:43:49.325289104-08:00","ref":"put-3795835233","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_format
    method: POST
  response:
    body: '{"path":"uploadFilepush_format","display_name":"uploadFilepush_format","type":"file","size":9,"created_at":"2023-01-14T05:43:51Z","mtime":"2023-01-14T05:43:51Z","provided_mtime":"2023-01-14T05:43:49Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/uploadFilepush_with_output_and_output-format
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"ff6abeab-32a5-4236-8ff0-11eac74ec1f2","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/uploadFilepush_with_output_and_output-format
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-14T05:58:52Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3795835458","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/a93254e5-d82a-4a8c-847e-5c6b82133cef?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230114T054352Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=x4cX4Y02qHQcYEPx8bSoBE_DK.SE6LNCTWcPYtaanKsI3C9MMk3u_eh0gJXzsU.HKPNO_ec4nAhI4eX7BYrKOGrp2lS5uCjH5P_IN3SsppzEiNboLc_lne_0UID4lInC\u0026X-Amz-Signature=718692b3f376d77b0afc50367e65bf3e4b628dffd6c901c66f4375126249e243"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/a93254e5-d82a-4a8c-847e-5c6b82133cef?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230114T054352Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=x4cX4Y02qHQcYEPx8bSoBE_DK.SE6LNCTWcPYtaanKsI3C9MMk3u_eh0gJXzsU.HKPNO_ec4nAhI4eX7BYrKOGrp2lS5uCjH5P_IN3SsppzEiNboLc_lne_0UID4lInC&X-Amz-Signature=718692b3f376d77b0afc50367e65bf3e4b628dffd6c901c66f4375126249e243
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - BSVSD1BREBQQ02VP
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-13T21:43:51.405475477-08:00","ref":"put-3795835458","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_output_and_output-format
    method: POST
  response:
    body: '{"path":"uploadFilepush_with_output_and_output-format","display_name":"uploadFilepush_with_output_and_output-format","type":"file","size":9,"created_at":"2023-01-14T05:43:53Z","mtime":"2023-01-14T05:43:53Z","provided_mtime":"2023-01-14T05:43:51Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_output_output-format_progress
    method: DELETE
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"d4219fcf-680c-4ac7-9f74-1d3b4f7d833a","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/uploadFilepush_with_progress_and_output_csv
    method: GET
  response:
    body: '{"error":"Not Found","http-code":404,"instance":"6af9ac85-cfbf-405a-975d-7ea6cf75a976","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/uploadFilepush_with_progress_and_output_csv
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-01-14T05:58:54Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-3795835702","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8f37a727-512a-47e8-8dab-67c2852fabfd?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230114T054354Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=KYHuApBgbbUP7ExNwerdOm5kwPayEW4EhyumqY4J2noKgOuwAY8.9N_GydJAUHuIuE5ergAyTz6y7jYRg7hgeoUsPlc2qRVkiqIfdy79ZNgskrUUNk6vsrw7CP11Prxr\u0026X-Amz-Signature=fd1d536dea5e2e169403c0b19cc2e73529f523bd8404fe69183cfc5f33b9ba3a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/8f37a727-512a-47e8-8dab-67c2852fabfd?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230114%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230114T054354Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=KYHuApBgbbUP7ExNwerdOm5kwPayEW4EhyumqY4J2noKgOuwAY8.9N_GydJAUHuIuE5ergAyTz6y7jYRg7hgeoUsPlc2qRVkiqIfdy79ZNgskrUUNk6vsrw7CP11Prxr&X-Amz-Signature=fd1d536dea5e2e169403c0b19cc2e73529f523bd8404fe69183cfc5f33b9ba3a
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - EBAHQ93TEPNH8JF8
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-01-13T21:43:53.846461219-08:00","ref":"put-3795835702","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_progress_and_output_csv
    method: POST
  response:
    body: '{"path":"uploadFilepush_with_progress_and_output_csv","display_name":"uploadFilepush_with_progress_and_output_csv","type":"file","size":9,"created_at":"2023-01-14T05:43:55Z","mtime":"2023-01-14T05:43:55Z","provided_mtime":"2023-01-14T05:43:53Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
