---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete-r
    method: POST
  response:
    body: '{"display_name":"test-dir-files-delete-r","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete-r/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-09-20T23:10:55Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-52610578","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3cdb977a-d26d-42fe-8aa8-5d63bb648113?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210920%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210920T225555Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=JRwVOMzOM5KLTEft3Rc0b0pzVuSnONc83JofAj6wEXC1p10DsA4zF47vXe5YybwY1Lnp2cNWCWc4iv753c9PZAd4JaSD8EpJzZ2BiGtARcr72eHhhxyNw_975Waieq0.\u0026X-Amz-Signature=fb8245796f7905eca69740c8b048a0dd22b6ceb21ea058f74a1dfdeee702f466"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3cdb977a-d26d-42fe-8aa8-5d63bb648113?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210920%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210920T225555Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=JRwVOMzOM5KLTEft3Rc0b0pzVuSnONc83JofAj6wEXC1p10DsA4zF47vXe5YybwY1Lnp2cNWCWc4iv753c9PZAd4JaSD8EpJzZ2BiGtARcr72eHhhxyNw_975Waieq0.&X-Amz-Signature=fb8245796f7905eca69740c8b048a0dd22b6ceb21ea058f74a1dfdeee702f466
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - AJS2TVR764KFGCFF
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"\"ab6e3983b98e417df77242b035504638\"","etags[0][part]":"1","provided_mtime":"2021-09-20T15:55:56-07:00","ref":"put-52610578","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete-r/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete-r/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-09-20T22:55:56Z","provided_mtime":"2021-09-20T22:55:56Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete-r?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
