---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/2.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:48Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456297701","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/8794eeb7-9785-4bcc-8fea-283583a0f47b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175048Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=lfCq53g2.ORTKmY19zfe6SyWNjntl1ZigOZYkZK6507p9VcIK7wGkGNKouOTY7FPwoy93BvLL1AebgpWbWeA0bxfHVPRIJZSqG_RbtQv1ZnYRzIoM97aMMHnFqxszWq5\u0026X-Amz-Signature=e68141a3b433e3698ec41755b12b7902d4dc3b507f7d359709a359c5efe10a7f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/1%20%281%29.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:48Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456297700","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/7a34a2ba-a7c0-4010-81e7-d79e520ef4a4?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175048Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=7xjmh.K5mMuGx41Zml90Mb_AvOuFrlMEhp0gR8ILBmCDshOF4NBxSgEr06IVHUkTWCUNbZGHoJSChJI7XQ_jUla.5AyoT6Sj5AkFnARpWAhIyz8ZxC2jJKJ1ce5Fs.IF\u0026X-Amz-Signature=0c436dbe4f591aef4593fc66adaf20e7e67c3764b99d8a3e1634252eb5d8eb70"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/8794eeb7-9785-4bcc-8fea-283583a0f47b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175048Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=lfCq53g2.ORTKmY19zfe6SyWNjntl1ZigOZYkZK6507p9VcIK7wGkGNKouOTY7FPwoy93BvLL1AebgpWbWeA0bxfHVPRIJZSqG_RbtQv1ZnYRzIoM97aMMHnFqxszWq5&X-Amz-Signature=e68141a3b433e3698ec41755b12b7902d4dc3b507f7d359709a359c5efe10a7f
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - FWXFEMQC0Q5SB9PQ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/7a34a2ba-a7c0-4010-81e7-d79e520ef4a4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175048Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=7xjmh.K5mMuGx41Zml90Mb_AvOuFrlMEhp0gR8ILBmCDshOF4NBxSgEr06IVHUkTWCUNbZGHoJSChJI7XQ_jUla.5AyoT6Sj5AkFnARpWAhIyz8ZxC2jJKJ1ce5Fs.IF&X-Amz-Signature=0c436dbe4f591aef4593fc66adaf20e7e67c3764b99d8a3e1634252eb5d8eb70
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - FWX33X76872X04NJ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T13:50:48.198688386-04:00","ref":"put-13456297701","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/2.text
    method: POST
  response:
    body: '{"path":"2.text","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"2.text","type":"file","size":24,"created_at":"2025-05-23T17:50:48Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:48Z","provided_mtime":"2025-05-23T17:50:48Z","crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T13:50:48.198434055-04:00","ref":"put-13456297700","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/1%20%281%29.text
    method: POST
  response:
    body: '{"path":"1 (1).text","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"1
      (1).text","type":"file","size":24,"created_at":"2025-05-23T17:50:48Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:48Z","provided_mtime":"2025-05-23T17:50:48Z","crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
