---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete
    method: POST
  response:
    body: '{"display_name":"test-dir-files-delete","type":"directory","size":null,"created_at":"2022-11-30T01:04:10Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2022-11-30T01:19:11Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-22","upload_uri":"https://s3.amazonaws.com/dev.brickftp.com/metadata/1/a7d0dac2-b161-4428-9066-7d76024969c5?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIM45HSA52WL42SVA%2F20221130%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20221130T010411Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=W4R.0MwtC_l8nt8ckJTwVvKtdUoZN2vVhe.Nv4TUBu0AskMEnlNNpl1SROJjIGFS7vEEvphLohQtDVb2cmAasCMCnYusbbzbzZtysHL3m9nOkHIbGPrKZjSpqbKfh6rm\u0026X-Amz-Signature=fa18a3f132646c7c77430c20e288c4fe4a8c7c6b09d822e3908c40f6611b412c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/dev.brickftp.com/metadata/1/a7d0dac2-b161-4428-9066-7d76024969c5?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIM45HSA52WL42SVA%2F20221130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221130T010411Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=W4R.0MwtC_l8nt8ckJTwVvKtdUoZN2vVhe.Nv4TUBu0AskMEnlNNpl1SROJjIGFS7vEEvphLohQtDVb2cmAasCMCnYusbbzbzZtysHL3m9nOkHIbGPrKZjSpqbKfh6rm&X-Amz-Signature=fa18a3f132646c7c77430c20e288c4fe4a8c7c6b09d822e3908c40f6611b412c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - 1A9W5SCSJA320A74
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"ab6e3983b98e417df77242b035504638","part":"1"}],"mkdir_parents":true,"provided_mtime":"2010-11-17T20:34:58.651387237Z","ref":"put-22","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete/1.text","display_name":"1.text","type":"file","size":9,"created_at":"2022-11-30T01:04:12Z","mtime":"2022-11-30T01:04:12Z","provided_mtime":"2010-11-17T20:34:58Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete
    method: DELETE
  response:
    body: '{"error":"Folder test-dir-files-delete not empty","http-code":422,"instance":"da1d6f20-512c-4c0d-8eb5-eeae15a21acc","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
