---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload.go
    method: GET
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"6fa03a07-8b98-40db-9bc9-1c5b72f4b0e1","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload.go
    method: POST
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"90d03c28-d481-4903-ae6e-8c14b2627cd2","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
