---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_DisableProgressOutput
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"75219db8a792f5981cf2861b0303a3bc","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_DisableProgressOutput
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T19:45:50Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13457354757","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/ad4df548-9efa-445c-b341-f1b963cbe04f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T193050Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=6bVr0X7EA3IEp_F.z.7FuaA4HPg_urCkp94h4aJPQ0V6mWzDMJwXrUaLTEQtzStlANxhKPtboinBNVhxBNzq5rCe_8WTye1zEGC2P0IZZNUwc3oArJUWvMyuIZupZjJO\u0026X-Amz-Signature=7dc21f9d98ea2e85b097f26c2d1336aa7e05a91744de3d67210e9488b83fb6b6"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/ad4df548-9efa-445c-b341-f1b963cbe04f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T193050Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=6bVr0X7EA3IEp_F.z.7FuaA4HPg_urCkp94h4aJPQ0V6mWzDMJwXrUaLTEQtzStlANxhKPtboinBNVhxBNzq5rCe_8WTye1zEGC2P0IZZNUwc3oArJUWvMyuIZupZjJO&X-Amz-Signature=7dc21f9d98ea2e85b097f26c2d1336aa7e05a91744de3d67210e9488b83fb6b6
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - A9F0F3X5XNQZK8DX
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T15:30:50.042256235-04:00","ref":"put-13457354757","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_DisableProgressOutput
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_DisableProgressOutput","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_DisableProgressOutput","type":"file","size":9,"created_at":"2025-05-23T19:30:50Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T19:30:50Z","provided_mtime":"2025-05-23T19:30:50Z","crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_DisableProgressOutput
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"18d4004c69baf7707cc1988f88d2d05a","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_format_none
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"59df693cd2018be45710c86b0784b30d","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_format_none
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T19:45:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13457354895","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/ab20e4ff-ad6d-4594-8ab8-e83d6b26b883?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T193051Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=7PwHUsSlTPDl3ea12NJ0EcCMOMHgU.Y3guo.L7uGSPwBoECm4t.0QkrcJFYAOIiQJs6LjzBFgFuKF29t_dVZ64rUXi1_G6iDv4wuZf5UBgQuEWUAm4EebiL.Dgw1kHHh\u0026X-Amz-Signature=41609b60343422e68ada8cadaf435e2c11854333ae05b49343633ba864ed062c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/ab20e4ff-ad6d-4594-8ab8-e83d6b26b883?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T193051Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=7PwHUsSlTPDl3ea12NJ0EcCMOMHgU.Y3guo.L7uGSPwBoECm4t.0QkrcJFYAOIiQJs6LjzBFgFuKF29t_dVZ64rUXi1_G6iDv4wuZf5UBgQuEWUAm4EebiL.Dgw1kHHh&X-Amz-Signature=41609b60343422e68ada8cadaf435e2c11854333ae05b49343633ba864ed062c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - EJ7VE4V7M40NMTGG
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T15:30:50.874745504-04:00","ref":"put-13457354895","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_format_none
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_format_none","created_by_id":null,"created_by_a[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_format_none
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"a64ac72a31d843af4eef3a0da63b7ea7","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_format
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"47664061da57acdc549e3728eeaf57ef","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_format
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T19:45:51Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13457354982","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/738ed286-9f21-4e66-b702-b1472b07b8d4?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T193051Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=FUeTXNcxIwe43weipZjSul9Y3D8dPx6puIKMEkbYQNH.VVso4h5dtqaVHiC.JEpTUmEv9XvwcHb2C8tXQqDDPzzuBxBi9bQW5hjapDWORMlokZ2K1KHrt9kLdrZ6CUVJ\u0026X-Amz-Signature=e779e0732e9fc4b309ebc01648541d2de6ea0cb99acaab413b6bc7adc23454bb"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/738ed286-9f21-4e66-b702-b1472b07b8d4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T193051Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=FUeTXNcxIwe43weipZjSul9Y3D8dPx6puIKMEkbYQNH.VVso4h5dtqaVHiC.JEpTUmEv9XvwcHb2C8tXQqDDPzzuBxBi9bQW5hjapDWORMlokZ2K1KHrt9kLdrZ6CUVJ&X-Amz-Signature=e779e0732e9fc4b309ebc01648541d2de6ea0cb99acaab413b6bc7adc23454bb
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - EJ7GY2TSVEGKD1Z3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T15:30:51.404879954-04:00","ref":"put-13457354982","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_format
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_format","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_format","type":"file","size":9,"created_at":"2025-05-23T19:30:51Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T19:30:51Z","provided_mtime":"2025-05-23T19:30:51Z","crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_format
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"f59884ba8831e6b7c1ee46f68962f502","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_with_output_and_output-format
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"cc050c83cdb785361ebb6c82592d9b90","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_with_output_and_output-format
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T19:45:52Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13457355075","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/bb9fb7f6-c1a5-4b1a-9c93-4a7869c424fb?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T193052Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=yXmlJLzPNnDnZqZ.A9C98wgXQ5wsqI4JEjqBtsmC2SR.b7vkrK8TZLtZexT5JlMuuM8AFykavGJWH3IdIzjRsMO_fZe1sTPtkEhLrP3ECBs9pRLzKEDAKe4L8aq78sQ8\u0026X-Amz-Signature=3dc19494b2f750319d9fa65c32833f3debb776ba8064bddc12be99a70c2a28a3"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/bb9fb7f6-c1a5-4b1a-9c93-4a7869c424fb?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T193052Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=yXmlJLzPNnDnZqZ.A9C98wgXQ5wsqI4JEjqBtsmC2SR.b7vkrK8TZLtZexT5JlMuuM8AFykavGJWH3IdIzjRsMO_fZe1sTPtkEhLrP3ECBs9pRLzKEDAKe4L8aq78sQ8&X-Amz-Signature=3dc19494b2f750319d9fa65c32833f3debb776ba8064bddc12be99a70c2a28a3
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - 6FZCKVB89VHP4S3C
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T15:30:51.889925051-04:00","ref":"put-13457355075","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_with_output_and_output-format
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_with_output_and_output-format[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_output_and_output-format
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"8227ad3b21278ed510b4745ef132d1ac","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_output_output-format_progress
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"f0766120881d7134a7f36f42a1778b02","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_with_progress_and_output_csv
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"c44733863505e47329e36e0d073f72d6","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_with_progress_and_output_csv
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T19:45:52Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13457355169","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/8b6e61f3-97a1-4d75-8bc4-09749ac4465b?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T193052Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=BOWtZ3SVkKH7XMG_cj3g4XNlWJiimK_bwcfMeD4CwZ5e8CY9nzX0WMmSIW3Ia3TrXntLlZ3l5kABTfCulni3X07iV3pvzXUc.vi.wRjkSIsoJ7hH1tCuyRkU5FU8x9_4\u0026X-Amz-Signature=c222e0bd539b9d6fa363c2f8853b8a0c7ec7e70e682b45badcda4d048c21c16b"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/8b6e61f3-97a1-4d75-8bc4-09749ac4465b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T193052Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=BOWtZ3SVkKH7XMG_cj3g4XNlWJiimK_bwcfMeD4CwZ5e8CY9nzX0WMmSIW3Ia3TrXntLlZ3l5kABTfCulni3X07iV3pvzXUc.vi.wRjkSIsoJ7hH1tCuyRkU5FU8x9_4&X-Amz-Signature=c222e0bd539b9d6fa363c2f8853b8a0c7ec7e70e682b45badcda4d048c21c16b
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - 6FZ5Q1JH4WN3T2M3
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T15:30:52.426491598-04:00","ref":"put-13457355169","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_with_progress_and_output_csv
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_with_progress_and_output_csv",[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_progress_and_output_csv
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"e9ad7e5be11c78dc5f09f571a43db5f7","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
