---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/1%20%281%29.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-09-15T17:40:45Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-6156925493","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/70d07987-0d38-41a0-847e-bafc4c3c13f9?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230915%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230915T172545Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=nvyBW3V8xRoA4aAivbymaRs_S3UMFKsIrI2w6F_apkITtwE4.N1a7hGZVQoHyW6Td.lGXZ65KlbjuKOd0_BYxbo0MhFWfV3LsIVT5bJpFmXze219.cd_OfnyURQBMbzN\u0026X-Amz-Signature=3bbab9918668e841e22f0445f9509074fa8951017873d58d36e6ff301c720538"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/2.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-09-15T17:40:45Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-6156925495","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1ed673a6-3ff7-4af8-a603-e4ab6760177c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230915%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230915T172545Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=73z11nDvpdFdRjrs_YheENTPVNThHiac8ZIhPMKEjni4EyChJ9i_Ux.cT5usaOr5N_M1pZDY74GC8O4lXzz5KEV6oyM9e8RSDIqrz4YtkXoGis5bKhRUL7UwHdP8.5Ds\u0026X-Amz-Signature=7ba6ea00936e86ca657400ef7c6f08359762f1bff7b82a3feb712521b8321a55"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/70d07987-0d38-41a0-847e-bafc4c3c13f9?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230915T172545Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=nvyBW3V8xRoA4aAivbymaRs_S3UMFKsIrI2w6F_apkITtwE4.N1a7hGZVQoHyW6Td.lGXZ65KlbjuKOd0_BYxbo0MhFWfV3LsIVT5bJpFmXze219.cd_OfnyURQBMbzN&X-Amz-Signature=3bbab9918668e841e22f0445f9509074fa8951017873d58d36e6ff301c720538
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - 9MDQPRTECSV4F6GQ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/1ed673a6-3ff7-4af8-a603-e4ab6760177c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230915%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230915T172545Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=73z11nDvpdFdRjrs_YheENTPVNThHiac8ZIhPMKEjni4EyChJ9i_Ux.cT5usaOr5N_M1pZDY74GC8O4lXzz5KEV6oyM9e8RSDIqrz4YtkXoGis5bKhRUL7UwHdP8.5Ds&X-Amz-Signature=7ba6ea00936e86ca657400ef7c6f08359762f1bff7b82a3feb712521b8321a55
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - 9MDJ0BAM0N5152G9
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-09-15T10:25:45.163793251-07:00","ref":"put-6156925495","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/2.text
    method: POST
  response:
    body: '{"path":"2.text","display_name":"2.text","type":"file","size":24,"created_at":"2023-09-15T17:25:46Z","mtime":"2023-09-15T17:25:46Z","provided_mtime":"2023-09-15T17:25:45Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-09-15T10:25:45.163793251-07:00","ref":"put-6156925493","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/1%20%281%29.text
    method: POST
  response:
    body: '{"path":"1 (1).text","display_name":"1 (1).text","type":"file","size":24,"created_at":"2023-09-15T17:25:46Z","mtime":"2023-09-15T17:25:46Z","provided_mtime":"2023-09-15T17:25:45Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
