---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload.go
    method: GET
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"2f55c84e-dd79-4ea0-97a2-efe6b430104c","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload.go
    method: POST
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"80d07b39-814a-42c8-a3be-3169a6852a1e","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
