---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload.go
    method: GET
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"ac4c01e8-dd28-4800-a879-83bfd05c58da","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload.go
    method: POST
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"8aa475f2-2821-4cc6-826e-658c2bac8df5","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
