---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/test-dir-files-delete
    method: POST
  response:
    body: '{"display_name":"test-dir-files-delete","type":"directory","size":null,"crc32":null,"md5":null,"subfolders_locked?":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"part":"1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/test-dir-files-delete/1.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-03-30T22:49:07Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4073411426","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5e0cc41e-57fc-49cb-8ba7-4ee8ebdd9476?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210330T223407Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=iixu9sPwNfv_wZTtYAQQjF7HuffSC1hvOg9Vy.0Vor4qvOhDyElyrCUDYQ88exM.8jtq.ADTebrny1OS0nN482qU41C1GskFK5lkgY3RgAUGA5igvLbvqd04mCBa4Oi6\u0026X-Amz-Signature=35a61f8bbcc047015def6ca1b425dc169f4384b93dcceeb9ac61aa4f225a4e40"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/5e0cc41e-57fc-49cb-8ba7-4ee8ebdd9476?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210330%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210330T223407Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=iixu9sPwNfv_wZTtYAQQjF7HuffSC1hvOg9Vy.0Vor4qvOhDyElyrCUDYQ88exM.8jtq.ADTebrny1OS0nN482qU41C1GskFK5lkgY3RgAUGA5igvLbvqd04mCBa4Oi6&X-Amz-Signature=35a61f8bbcc047015def6ca1b425dc169f4384b93dcceeb9ac61aa4f225a4e40
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - GQWJ5WHR4TRF1WQA
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"action":"end","etags[0][etag]":"\"ab6e3983b98e417df77242b035504638\"","etags[0][part]":"1","provided_mtime":"2021-03-30T15:34:07-07:00","ref":"put-4073411426","size":"9"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete/1.text
    method: POST
  response:
    body: '{"path":"test-dir-files-delete/1.text","display_name":"1.text","type":"file","size":9,"mtime":"2021-03-30T22:34:08Z","provided_mtime":"2021-03-30T22:34:07Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/test-dir-files-delete
    method: DELETE
  response:
    body: '{"error":"Folder test-dir-files-delete not empty","http-code":422,"instance":"b84c8fc9-778b-4e69-bbc2-9bf9a5ada805","title":"Folder
      Not Empty","type":"processing-failure/folder-not-empty"}'
    headers:
      Content-Type:
      - application/json
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
