---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload_test.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:47Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456297598","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/c1650418-15c0-49e3-a56a-b66fdeb3a56e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175047Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=fmeY8E2Z16keTCPbOAu0jGCMTtbpHy3DmLSxwXNm0Dq2Tu_XbncyuzEypsMuS.hcn1mTJIG3BTYOFzpq52KX_tifSenUnxnvV7KqfoZEXj_HYI4Mlf6ZUHYZYfZBbquN\u0026X-Amz-Signature=bb3d357f720b7a1e3f90d8eb2e7a88ad42e2cb0e67388788497a84d5f64725ba"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/c1650418-15c0-49e3-a56a-b66fdeb3a56e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175047Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=fmeY8E2Z16keTCPbOAu0jGCMTtbpHy3DmLSxwXNm0Dq2Tu_XbncyuzEypsMuS.hcn1mTJIG3BTYOFzpq52KX_tifSenUnxnvV7KqfoZEXj_HYI4Mlf6ZUHYZYfZBbquN&X-Amz-Signature=bb3d357f720b7a1e3f90d8eb2e7a88ad42e2cb0e67388788497a84d5f64725ba
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - VTXN5MDG3J3058S0
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"5045cf51883b32c692d1b38d57993daf","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T13:50:47.725469081-04:00","ref":"put-13456297598","size":24}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/upload_test.text
    method: POST
  response:
    body: '{"path":"upload_test.text","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"upload_test.text","type":"file","size":24,"created_at":"2025-05-23T17:50:48Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:48Z","provided_mtime":"2025-05-23T17:50:47Z","crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"body":"Starting at 2025-05-23 13:50:47.725796 -0400 EDT m=+4.620690543\nupload
      sync: false\nupload_test.text complete size 24 B\ntotal downloaded: 24 B\nFinished
      at 2025-05-23 13:50:48.140874 -0400 EDT m=+5.035772460","status":"success"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/external_events
    method: POST
  response:
    body: '{"id":259051129,"event_type":"client_log","status":"success","body":"Starting
      at 2025-05-23 13:50:47.725796 -0400 EDT m=+4.620690543\nupload sync: false\nupload_test.text
      complete size 24 B\ntotal downloaded: 24 B\nFinished at 2025-05-23 13:50:48.140874
      -0400 EDT m=+5.035772460","created_at":"2025-05-23T13:50:48-04:00","body_url":null,"folder_behavior_id":null,"siem_http_destination_id":null,"successful_files":0,"errored_files":0,"bytes_synced":0,"compared_files":0,"compared_folders":0,"remote_server_type":null}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
