---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":"true"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload_test.text
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2021-10-18T17:40:14Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-238390752","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3c636a97-dd87-4ed3-8e8b-42817f3e6951?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211018%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20211018T172514Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=MLnHSiLivJmqqDIkFfHg1QKnzaQZyOuXVtTrylvNUBcTP.busdSSN3XIkJxsIRppGuOCLWJ2tNBCl1IhX2h8LUkecKo8jPtqpmMCSlYZKnnSNKvD_sddQPKyHmSDaful\u0026X-Amz-Signature=83349b419b4330e1046c66ec50f154cedacd7f96ac4068cb6b7e97c5d893b793"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: hello how are you doing?
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/3c636a97-dd87-4ed3-8e8b-42817f3e6951?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20211018%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211018T172514Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=MLnHSiLivJmqqDIkFfHg1QKnzaQZyOuXVtTrylvNUBcTP.busdSSN3XIkJxsIRppGuOCLWJ2tNBCl1IhX2h8LUkecKo8jPtqpmMCSlYZKnnSNKvD_sddQPKyHmSDaful&X-Amz-Signature=83349b419b4330e1046c66ec50f154cedacd7f96ac4068cb6b7e97c5d893b793
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"5045cf51883b32c692d1b38d57993daf"'
      X-Amz-Request-Id:
      - AMDD671DJEPR2BWB
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags[0][etag]":"5045cf51883b32c692d1b38d57993daf","etags[0][part]":"1","provided_mtime":"2021-10-18T10:25:14-07:00","ref":"put-238390752","size":"24"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/upload_test.text
    method: POST
  response:
    body: '{"path":"upload_test.text","display_name":"upload_test.text","type":"file","size":24,"mtime":"2021-10-18T17:25:15Z","provided_mtime":"2021-10-18T17:25:14Z","crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"body":"Starting at 2021-10-18 10:25:13.525016 -0700 PDT m=+0.003448335\nupload
      sync: false\nupload_test.text complete size 24 B\ntotal downloaded: 24 B\nFinished
      at 2021-10-18 10:25:15.174916 -0700 PDT m=+1.653345505","status":"success"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/external_events
    method: POST
  response:
    body: '{"id":34360965,"event_type":"client_log","status":"success","body":"Starting
      at 2021-10-18 10:25:13.525016 -0700 PDT m=+0.003448335\nupload sync: false\nupload_test.text
      complete size 24 B\ntotal downloaded: 24 B\nFinished at 2021-10-18 10:25:15.174916
      -0700 PDT m=+1.653345505","created_at":"2021-10-18T13:25:15-04:00","body_url":null,"folder_behavior_id":null,"successful_files":0,"errored_files":0,"bytes_synced":0,"remote_server_type":""}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
