---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"TestFolders_ListFor_FilterBy","type":"directory","size":null,"created_at":"2025-05-23T17:50:44Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:44Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/TestFolders_ListFor_FilterBy/cars
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/cars","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"cars","type":"directory","size":null,"created_at":"2025-05-23T17:50:44Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:44Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/space.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:44Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456296830","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/1bc6c8e7-6cca-41dd-ba78-98a93dd81895?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175044Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=hvPuqr67WUvFcBbCIIUfdut_9ODQWkheTaZ7Ih8Mxv16MRJqe.536qwZl_hIWIAVJYqNUsrDY8OV0XHNWHQJpq0BP.KFIRd83D0rgHdr5OEPEI4ZpzbJ6Mob51ccF9N1\u0026X-Amz-Signature=4f92e94ab086226b93dad32f67008bc1691d1524d371094e05297aa1b869a5fd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 0
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/1bc6c8e7-6cca-41dd-ba78-98a93dd81895?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175044Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=hvPuqr67WUvFcBbCIIUfdut_9ODQWkheTaZ7Ih8Mxv16MRJqe.536qwZl_hIWIAVJYqNUsrDY8OV0XHNWHQJpq0BP.KFIRd83D0rgHdr5OEPEI4ZpzbJ6Mob51ccF9N1&X-Amz-Signature=4f92e94ab086226b93dad32f67008bc1691d1524d371094e05297aa1b869a5fd
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"17522b7187d4320a39cc5f674f45d7dc"'
      X-Amz-Request-Id:
      - QHJEZ8P096KPDDED
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"17522b7187d4320a39cc5f674f45d7dc","part":"1"}],"mkdir_parents":true,"ref":"put-13456296830","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/space.txt
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/space.txt","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"space.txt","type":"file","size":9,"created_at":"2025-05-23T17:50:44Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:44Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/food.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:44Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456296971","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/7484d915-014c-4902-85df-43c65ddf8c7f?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175044Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Vm.YJOSBbOXdcD9T_r3DATxoLylFwgV9WUn.9N1NxcQvPmdy0px4e0.g4W8bJYbUeKpDd57SoVkVnRwEPC9zOPWIsfDkq8Nm3ajNQrNc4mypHZOkRvILkXxF47a_K6SO\u0026X-Amz-Signature=44810f516b5bcc559eb8a84f4fb05941b9f13c3ac9b6f560a00e28a709d3750c"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 1
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/7484d915-014c-4902-85df-43c65ddf8c7f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175044Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Vm.YJOSBbOXdcD9T_r3DATxoLylFwgV9WUn.9N1NxcQvPmdy0px4e0.g4W8bJYbUeKpDd57SoVkVnRwEPC9zOPWIsfDkq8Nm3ajNQrNc4mypHZOkRvILkXxF47a_K6SO&X-Amz-Signature=44810f516b5bcc559eb8a84f4fb05941b9f13c3ac9b6f560a00e28a709d3750c
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"ab6e3983b98e417df77242b035504638"'
      X-Amz-Request-Id:
      - QHJ6VAYVJNGPRXNY
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"ab6e3983b98e417df77242b035504638","part":"1"}],"mkdir_parents":true,"ref":"put-13456296971","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/food.txt
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/food.txt","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"food.txt","type":"file","size":9,"created_at":"2025-05-23T17:50:45Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:45Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/cars/car.jpg
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:45Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456297042","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/bdc4be15-396d-4cef-a787-33c3bd53488e?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175045Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=oA_T65k626a3OneEFxGwDOt1ztTb_TMoWYgVixVryigQNAZz14eBo1iba11p_zLm0NiLfD09aQK0rJ3arNQ_Vh2E_kMFM8LOofjdyX48hY2jK7jB5XIpmCQJfLHADcRr\u0026X-Amz-Signature=66606b84f7632e2ccdc3428613e1f872802704aea4a00d1d07a59bdbf961241a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 2
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/bdc4be15-396d-4cef-a787-33c3bd53488e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175045Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=oA_T65k626a3OneEFxGwDOt1ztTb_TMoWYgVixVryigQNAZz14eBo1iba11p_zLm0NiLfD09aQK0rJ3arNQ_Vh2E_kMFM8LOofjdyX48hY2jK7jB5XIpmCQJfLHADcRr&X-Amz-Signature=66606b84f7632e2ccdc3428613e1f872802704aea4a00d1d07a59bdbf961241a
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f29e2ea37b89dc6c1a7522523109e5c0"'
      X-Amz-Request-Id:
      - JKD3HFYWXATRKNVA
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f29e2ea37b89dc6c1a7522523109e5c0","part":"1"}],"mkdir_parents":true,"ref":"put-13456297042","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/cars/car.jpg
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/cars/car.jpg","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"car.jpg","type":"file","size":9,"created_at":"2025-05-23T17:50:45Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:45Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"image/jpeg","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/TestFolders_ListFor_FilterBy/cars/super-car.jpg
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:45Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456297127","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/f46f2e25-0fc0-4662-8421-b23ea14323f6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175045Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=DFpK64ZPCJL8lOurmOD9i.ul7.kZ.g9LZmZeovrW3Ohjv82TdYsFS5J8faGzqYFO.RjojrWTBRzc8oxh8a4c1H8PlZChL56LG0MzPI7i7G1XZWvk6tCRciJUQz.txkUB\u0026X-Amz-Signature=0fe6ae90b6e84f8780dffd55e0f281469db5b20677595209213b6c0aaee427bf"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: testing 3
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/f46f2e25-0fc0-4662-8421-b23ea14323f6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250523T175045Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=DFpK64ZPCJL8lOurmOD9i.ul7.kZ.g9LZmZeovrW3Ohjv82TdYsFS5J8faGzqYFO.RjojrWTBRzc8oxh8a4c1H8PlZChL56LG0MzPI7i7G1XZWvk6tCRciJUQz.txkUB&X-Amz-Signature=0fe6ae90b6e84f8780dffd55e0f281469db5b20677595209213b6c0aaee427bf
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"15e081c59a53cf6aadd83c7dc0e831d3"'
      X-Amz-Request-Id:
      - JKD5BR6N7S4J3H16
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"15e081c59a53cf6aadd83c7dc0e831d3","part":"1"}],"mkdir_parents":true,"ref":"put-13456297127","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy/cars/super-car.jpg
    method: POST
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy/cars/super-car.jpg","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"super-car.jpg","type":"file","size":9,"created_at":"2025-05-23T17:50:46Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:46Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"image/jpeg","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/TestFolders_ListFor_FilterBy
    method: GET
  response:
    body: '{"path":"TestFolders_ListFor_FilterBy","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"TestFolders_ListFor_FilterBy","type":"directory","size":null,"created_at":"2025-05-23T17:50:44Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:46Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/TestFolders_ListFor_FilterBy?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
