---
version: 1
interactions:
- request:
    body: '{"mkdir_parents":true,"size":4008}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload_test.go
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2025-05-23T18:05:47Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-13456297493","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/134942/eeaacc77-aa90-4542-8d51-9b9f716b39df?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20250523%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20250523T175047Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=u7Ih_ahKCkljUVNtfBQmlRlh_j_guhilBjbJ4sE4ScZzARXuzMsR6vK1GcPkOGF1x22USK0WqaxZ7QEWBnCGXURQJ6GpRswkrs8ovSRNM1JnnJrf8FdstYDK7W1VDfQS\u0026X-Amz-Signature=1f14a805d6335d936369afb5880ee05c9865d6b67f64d4092a5697434bee6d41"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "package cmd\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"log\"\n\t\"os\"\n\t\"path/filepath\"\n\t\"strings\"\n\t\"sync\"\n\t\"testing\"\n\n\t\"github.com/Files-com/files-sdk-go/v3/file\"\n\t\"github.com/Files-com/files-sdk-go/v3/lib\"\n\t\"github.com/dustin/go-humanize\"\n\t\"github.com/stretchr/testify/assert\"\n\t\"github.com/stretchr/testify/require\"\n)\n\nfunc
      TestUploadCmd(t *testing.T) {\n\tassert := assert.New(t)\n\tr, config, err :=
      CreateConfig(\"TestUpl[...]
- request:
    body: '{"action":"end","etags":[{"etag":"ff3c8d44e5c3f98267d7624ae318fbf0","part":"1"}],"mkdir_parents":true,"provided_mtime":"2025-05-23T13:30:42.064370234-04:00","ref":"put-13456297493","size":4008}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/upload_test.go
    method: POST
  response:
    body: '{"path":"upload_test.go","created_by_id":null,"created_by_api_key_id":3708528,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"upload_test.go","type":"file","size":4008,"created_at":"2025-05-23T17:50:47Z","last_modified_by_id":null,"last_modified_by_api_key_id":3708528,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2025-05-23T17:50:47Z","provided_mtime":"2025-05-23T17:30:42Z","crc32":null,"md5":null,"sha1":null,"sha256":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 200 OK
    code: 200
    duration: ""
