---
version: 1
interactions:
- request:
    body: '{"body":"this is a error test","status":"error"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/external_events
    method: POST
  response:
    body: '{"id":9838009,"event_type":"client_log","status":"error","body":"this is
      a error test","created_at":"2021-06-25T11:30:00-04:00","body_url":null}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
