---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload.go
    method: GET
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"2ddd6928-bdec-4968-8477-a1af99b01476","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/upload.go
    method: POST
  response:
    body: '{"error":"Unauthorized. The API key or Session token is either missing
      or invalid.","http-code":401,"instance":"026de8bf-3543-4254-a9ec-948b0496b06a","title":"Authentication
      Required","type":"not-authenticated/authentication-required"}'
    headers:
      Content-Type:
      - application/json
    status: 401 Unauthorized
    code: 401
    duration: ""
