---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/upload.go
    method: GET
  response:
    body: '{"path":"upload.go","display_name":"upload.go","type":"file","size":1706,"mtime":"2030-08-01T16:50:55Z","provided_mtime":"2021-08-03T16:50:55Z","crc32":"63335696","md5":"9dff94708bf660cafc651e3fedd618f7","mime_type":"application/octet-stream","region":"us-east-1","permissions":"rwd","download_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/387971f8-be13-45b1-b37b-3613c5e3f36a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20210803%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20210803T165108Z\u0026X-Amz-Expires=60\u0026X-Amz-SignedHeaders=host\u0026response-cache-control=no-cache%2C%20no-store\u0026response-content-disposition=attachment%3B%20filename%3D%22upload.go%22\u0026response-content-type=application%2Foctet-stream\u0026X-Amz-Signature=77d3413397594fa14c8b87d87610ed07bcc74af78077b2fd818ecde39630ac8f"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
