---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_DisableProgressOutput
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"65ca151bdda17c241217800e9c18d989","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_DisableProgressOutput
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-31T17:05:13Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9024414180","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98c84b4a-d46e-4192-8f89-4d9499314dbd?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240531T165013Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=pQl.uo3QOs_x1SnQarqJDoiHkOxnzcAxrmbEdxKsYrEaDplej5QvjZzMd_wyqvqxMp2u2I4W0nEPdIHhbT1KBB0LWC.2rjO3hCocmyST_BD6bFQu0kgaHfprMeFbqk3U\u0026X-Amz-Signature=dbd757a881ecf998a6a2557668382caa8951e62671bbbf2f78644c3de60a52fd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/98c84b4a-d46e-4192-8f89-4d9499314dbd?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240531T165013Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=pQl.uo3QOs_x1SnQarqJDoiHkOxnzcAxrmbEdxKsYrEaDplej5QvjZzMd_wyqvqxMp2u2I4W0nEPdIHhbT1KBB0LWC.2rjO3hCocmyST_BD6bFQu0kgaHfprMeFbqk3U&X-Amz-Signature=dbd757a881ecf998a6a2557668382caa8951e62671bbbf2f78644c3de60a52fd
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - XFAB6PYW0DM55HTW
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"ref":"put-9024414180","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_DisableProgressOutput
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_DisableProgressOutput","created_by_id":null,"created_by_api_key_id":32962,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_DisableProgressOutput","type":"file","size":9,"created_at":"2024-05-31T16:50:13Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-31T16:50:13Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_DisableProgressOutput
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"9f9162a9b2c0e7d93709651f3a8de68c","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_format_none
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"3824b59a489a40dc3a0119021cb3ef20","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_format_none
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-31T17:05:14Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9024414488","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a6b7e340-c909-4eb0-ac2a-995751d0c54c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240531T165014Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=_E6ZKSwDw9CDa0OiwersqAAzmF4caw9EeoRQ.SHRd.3i4fLC33_dEfR.WqXU8YRsTjd.0HaaFtv0r3Bq_i5EjbeCRlCkKAVSdUIMSmYq9QJnH.y.qciTkZRtmKY.zn3a\u0026X-Amz-Signature=0d1788058b3a5bb9075fa8f0abfe7de6bdb2abd2dcf5e0fb10ff48a2ce925329"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a6b7e340-c909-4eb0-ac2a-995751d0c54c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240531T165014Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=_E6ZKSwDw9CDa0OiwersqAAzmF4caw9EeoRQ.SHRd.3i4fLC33_dEfR.WqXU8YRsTjd.0HaaFtv0r3Bq_i5EjbeCRlCkKAVSdUIMSmYq9QJnH.y.qciTkZRtmKY.zn3a&X-Amz-Signature=0d1788058b3a5bb9075fa8f0abfe7de6bdb2abd2dcf5e0fb10ff48a2ce925329
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - WQZA3TC9J7X4Z7KQ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"ref":"put-9024414488","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_format_none
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_format_none","created_by_id":null,"created_by_api_key_id":32962,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_format_none","type":"file","size":9,"created_at":"2024-05-31T16:50:14Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-31T16:50:14Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_format_none
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"feec99426542fdc4d80b6996741642c4","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_format
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"b223599eda54dc9f3c68dc1723019acb","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_format
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-31T17:05:15Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9024414816","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a0d7c50b-5906-463a-883f-6915fc1db4c6?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240531T165015Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=PmPrf7IMN3RUbBVJthwTgxK5FmFTw8UqY5mWRPW37J.3MvfgCiQcnsVJ5Fty1nrIl9Cy84AX.3y.xGgTEPl1BIKOWR6X3xkVmzMG2YBv1ylTBbStYaP.iAybaw7iBk54\u0026X-Amz-Signature=09682ae2f5a7910c6ffa3e499edab7faca744f03e3fc689b1317e74350806d3f"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/a0d7c50b-5906-463a-883f-6915fc1db4c6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240531T165015Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=PmPrf7IMN3RUbBVJthwTgxK5FmFTw8UqY5mWRPW37J.3MvfgCiQcnsVJ5Fty1nrIl9Cy84AX.3y.xGgTEPl1BIKOWR6X3xkVmzMG2YBv1ylTBbStYaP.iAybaw7iBk54&X-Amz-Signature=09682ae2f5a7910c6ffa3e499edab7faca744f03e3fc689b1317e74350806d3f
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - 03V32M9YEWTHMN41
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"ref":"put-9024414816","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_format
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_format","created_by_id":null,"created_by_api_key_id":32962,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_format","type":"file","size":9,"created_at":"2024-05-31T16:50:15Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-31T16:50:15Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_format
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"126d65d197058ccf2871f43ee026b654","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_with_output_and_output-format
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"0a2c59681c8955cb2df5569719b8cecf","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_with_output_and_output-format
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-31T17:05:15Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9024415118","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/fc934c2f-85bf-4696-b98c-fb873087a790?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240531T165015Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=lN2MrfOxxC6ahSqvF9Yhl9gvI7rE2m1delg4TUrG_8I4CgNeS6932iAeXZ2Y0C.xa7somypvv1zz44O6a.BiQIVrLwcKSxQ2SWkM9Zdyft.BQWGD8GX9SL4vbZQjN2.L\u0026X-Amz-Signature=24d012646f2c193a1985b035c3aee8ba584c84917198ff1c47757217f4f55c12"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/fc934c2f-85bf-4696-b98c-fb873087a790?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240531T165015Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=lN2MrfOxxC6ahSqvF9Yhl9gvI7rE2m1delg4TUrG_8I4CgNeS6932iAeXZ2Y0C.xa7somypvv1zz44O6a.BiQIVrLwcKSxQ2SWkM9Zdyft.BQWGD8GX9SL4vbZQjN2.L&X-Amz-Signature=24d012646f2c193a1985b035c3aee8ba584c84917198ff1c47757217f4f55c12
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - A242NB5VSTPSH45B
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"ref":"put-9024415118","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_with_output_and_output-format
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_with_output_and_output-format","created_by_id":null,"created_by_api_key_id":32962,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_with_output_and_output-format","type":"file","size":9,"created_at":"2024-05-31T16:50:16Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-31T16:50:16Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_output_and_output-format
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"9587b6bfac8d2dedcc876c10f24cc3d8","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_output_output-format_progress
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"4cbe8e777bfc606efbeb574404d31048","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/cli-test/sync/uploadFilepush_with_progress_and_output_csv
    method: GET
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"502757517536080b388e75a039563c35","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"mkdir_parents":true,"size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/cli-test/sync/uploadFilepush_with_progress_and_output_csv
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2024-05-31T17:05:16Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"retry_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-9024415329","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4a61e9ce-317d-4112-8d41-265d676310f7?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20240531T165016Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=7VJbhu3W20Umo_qSbhMSoz2nlKzSbytrattc5AFcvvKhN4rPxmbmZZdSbApHXAbTcYF3260kxWOAkbR_pAEDHX423NgSaLkSxSV22vHIi9A80D8faeK07UfFHsfv73xW\u0026X-Amz-Signature=65f6fc13cacce918a4419511c0fa11058814ec0b6c4fd7ae043b31fb792e0c59"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: test file
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37868/4a61e9ce-317d-4112-8d41-265d676310f7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20240531%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240531T165016Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=7VJbhu3W20Umo_qSbhMSoz2nlKzSbytrattc5AFcvvKhN4rPxmbmZZdSbApHXAbTcYF3260kxWOAkbR_pAEDHX423NgSaLkSxSV22vHIi9A80D8faeK07UfFHsfv73xW&X-Amz-Signature=65f6fc13cacce918a4419511c0fa11058814ec0b6c4fd7ae043b31fb792e0c59
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"f20d9f2072bbeb6691c0f9c5099b01f3"'
      X-Amz-Request-Id:
      - ABNN593BJ24G71R2
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"f20d9f2072bbeb6691c0f9c5099b01f3","part":"1"}],"mkdir_parents":true,"ref":"put-9024415329","size":9}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/cli-test/sync/uploadFilepush_with_progress_and_output_csv
    method: POST
  response:
    body: '{"path":"cli-test/sync/uploadFilepush_with_progress_and_output_csv","created_by_id":null,"created_by_api_key_id":32962,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_remote_server_sync_id":null,"custom_metadata":{},"display_name":"uploadFilepush_with_progress_and_output_csv","type":"file","size":9,"created_at":"2024-05-31T16:50:17Z","last_modified_by_id":null,"last_modified_by_api_key_id":null,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_remote_server_sync_id":null,"mtime":"2024-05-31T16:50:17Z","provided_mtime":null,"crc32":null,"md5":null,"mime_type":"application/octet-stream","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Cache-For-Seconds:
      - "900"
      X-Files-Safe-To-Cache:
      - "true"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/uploadFilepush_with_progress_and_output_csv
    method: DELETE
  response:
    body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"2aa0c0ed68287b97a48b124221365c79","title":"Not
      Found","type":"not-found"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - not-found
    status: 404 Not Found
    code: 404
    duration: ""
