---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"5a504213-46df-4f6d-9192-f76a17bab93b","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29
    method: POST
  response:
    body: '{"display_name":"TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)","type":"directory","size":null,"created_at":"2023-02-06T16:52:58Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root
    method: POST
  response:
    body: '{"display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T16:52:59Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest
    method: POST
  response:
    body: '{"display_name":"dest","type":"directory","size":null,"created_at":"2023-02-06T16:53:01Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:08:01Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118336778","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/6fea751d-9c59-4b6a-82f0-63104564c015?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T165301Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=yuuS2y_mmIEKP.CZXDBEuPgCwBRAwArWXxXFqdM0YpBUV.rW0nWYaTZFrit7FqfeIRXBPyw2pBNKqDtYRNOqk58mxWWcTczLJFhII7ZfjXj1OTSQEiXKY33pg3JArnNq\u0026X-Amz-Signature=ea24c7f0c9c2766348ca218974f67d114c0380b4c95ec600ef334b4fda2191a4"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/6fea751d-9c59-4b6a-82f0-63104564c015?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T165301Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=yuuS2y_mmIEKP.CZXDBEuPgCwBRAwArWXxXFqdM0YpBUV.rW0nWYaTZFrit7FqfeIRXBPyw2pBNKqDtYRNOqk58mxWWcTczLJFhII7ZfjXj1OTSQEiXKY33pg3JArnNq&X-Amz-Signature=ea24c7f0c9c2766348ca218974f67d114c0380b4c95ec600ef334b4fda2191a4
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - A51WX0RFF30RGVHH
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T08:52:59.475579909-08:00","ref":"put-4118336778"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)/dest-root/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:53:02Z","mtime":"2023-02-06T16:53:02Z","provided_mtime":"2023-02-06T16:52:59Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)/dest-root/dest","display_name":"dest","type":"directory","size":null,"created_at":"2023-02-06T16:53:01Z","mtime":"2023-02-06T16:53:02Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)/dest-root/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T16:53:01Z","mtime":"2023-02-06T16:53:02Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest/foo?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)/dest-root/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:53:02Z","mtime":"2023-02-06T16:53:02Z","provided_mtime":"2023-02-06T16:52:59Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest/foo
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)/dest-root/dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T16:53:01Z","mtime":"2023-02-06T16:53:02Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root/dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_dest_(with_destination_slash)/dest-root/dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:53:02Z","mtime":"2023-02-06T16:53:02Z","provided_mtime":"2023-02-06T16:52:59Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_foo_to_dest_%28with_destination_slash%29/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
