---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"38842445-03a2-4736-a5af-a801d6df0d33","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar
    method: POST
  response:
    body: '{"display_name":"TestUpload-files-cli_upload-copy_contents_of_foo_to_bar","type":"directory","size":null,"created_at":"2023-02-06T16:52:48Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root
    method: POST
  response:
    body: '{"display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T16:52:49Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest
    method: POST
  response:
    body: '{"display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T16:52:51Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar
    method: POST
  response:
    body: '{"display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T16:52:53Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:07:53Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118335846","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/83157487-7488-4626-a500-2e4ef0b93e2a?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T165253Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=Pduh5zx5KAQOmAfO_62HxsmxkaMi.4oO3xUGA5y4xQfGhPhe_jV_1l8WRiPtoNzp7suKFxm2ZlgHr10if8abHO.mjq9DazIYYPin1G2tccgne80HRi5pMSIsjDIHqHxV\u0026X-Amz-Signature=618ddcfbfaa6a554b7471f7f5b62dce203bec7e92d0e0f7a72cefd2d9137800a"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/83157487-7488-4626-a500-2e4ef0b93e2a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T165253Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=Pduh5zx5KAQOmAfO_62HxsmxkaMi.4oO3xUGA5y4xQfGhPhe_jV_1l8WRiPtoNzp7suKFxm2ZlgHr10if8abHO.mjq9DazIYYPin1G2tccgne80HRi5pMSIsjDIHqHxV&X-Amz-Signature=618ddcfbfaa6a554b7471f7f5b62dce203bec7e92d0e0f7a72cefd2d9137800a
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - 143HX49GMADV27PC
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T08:52:49.713779976-08:00","ref":"put-4118335846"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:52:54Z","mtime":"2023-02-06T16:52:54Z","provided_mtime":"2023-02-06T16:52:49Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar","display_name":"bar","type":"directory","size":null,"created_at":"2023-02-06T16:52:53Z","mtime":"2023-02-06T16:52:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:52:54Z","mtime":"2023-02-06T16:52:54Z","provided_mtime":"2023-02-06T16:52:49Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest","display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T16:52:51Z","mtime":"2023-02-06T16:52:54Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root/Dest/bar/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:52:54Z","mtime":"2023-02-06T16:52:54Z","provided_mtime":"2023-02-06T16:52:49Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_contents_of_foo_to_bar/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
