---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"f3ebc2c2-8236-4b16-81b8-1ee755384e06","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name
    method: POST
  response:
    body: '{"display_name":"TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name","type":"directory","size":null,"created_at":"2023-02-06T16:53:15Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root
    method: POST
  response:
    body: '{"display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T16:53:16Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest
    method: POST
  response:
    body: '{"display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T16:53:18Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest","display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T16:53:18Z","mtime":"2023-02-06T16:53:18Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:08:19Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118339042","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/346280c2-b735-4962-aa08-c383f7b7104d?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T165319Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=70dtxd7bFT9LJjt9ucR.PsC2p23Ml3HS._Tts9t2GbjmI4h202E.7b_P8Lm7aLVDXU68OH_ULGJfB.y56rmKDNkjXGJyMH2BhazEups3HZ5sL17b7khrA3JIzKUtfl4I\u0026X-Amz-Signature=cadbe0fc89e8a048985c4bbe9ab9080fe3a8750f3cb72be87af843b156be853e"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/346280c2-b735-4962-aa08-c383f7b7104d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T165319Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=70dtxd7bFT9LJjt9ucR.PsC2p23Ml3HS._Tts9t2GbjmI4h202E.7b_P8Lm7aLVDXU68OH_ULGJfB.y56rmKDNkjXGJyMH2BhazEups3HZ5sL17b7khrA3JIzKUtfl4I&X-Amz-Signature=cadbe0fc89e8a048985c4bbe9ab9080fe3a8750f3cb72be87af843b156be853e
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - A5WFSV6TGZ4YB0GW
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T08:53:16.681784416-08:00","ref":"put-4118339042"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:53:20Z","mtime":"2023-02-06T16:53:20Z","provided_mtime":"2023-02-06T16:53:16Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:53:20Z","mtime":"2023-02-06T16:53:20Z","provided_mtime":"2023-02-06T16:53:16Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root/Dest/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:53:20Z","mtime":"2023-02-06T16:53:20Z","provided_mtime":"2023-02-06T16:53:16Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_baz.txt_to_Dest_without_Name/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
