---
version: 1
interactions:
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp
    method: POST
  response:
    body: '{"error":"The destination exists.","http-code":422,"instance":"09453b14-c07d-4c0c-a611-091ed25fd2cf","title":"Destination
      Exists","type":"processing-failure/destination-exists"}'
    headers:
      Content-Type:
      - application/json
      X-Files-Error-Class:
      - processing-failure/destination-exists
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest
    method: POST
  response:
    body: '{"display_name":"TestUpload-files-cli_upload-copy_foo_to_Dest","type":"directory","size":null,"created_at":"2023-02-06T16:52:30Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root
    method: POST
  response:
    body: '{"display_name":"dest-root","type":"directory","size":null,"created_at":"2023-02-06T16:52:31Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest
    method: POST
  response:
    body: '{"display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T16:52:33Z","crc32":null,"md5":null,"subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"mkdir_parents":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/file_actions/begin_upload/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt
    method: POST
  response:
    body: '[{"send":{"partsize":"required-header Content-Length","partdata":"body"},"action":"put/write","ask_about_overwrites":false,"available_parts":10000,"expires":"2023-02-06T17:07:33Z","headers":{},"http_method":"PUT","next_partsize":6291456,"parallel_parts":true,"parameters":{},"part_number":1,"partsize":5242880,"ref":"put-4118333541","upload_uri":"https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/da447911-b58f-4a59-aee0-248ce00a088c?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20230206T165233Z\u0026X-Amz-Expires=900\u0026X-Amz-SignedHeaders=host\u0026partNumber=1\u0026response-content-type=application%2Foctet-stream\u0026uploadId=J8RzeNgG8r1gSBz6o10X_Dj8CW99N.DjbdfN4LnURD3kEBFQ7kUIYW17dC9f6AZUlbHuylCqwe9dzgm1jQPWQrM0kR40SJlzsWC2d_l.u1T2f2HgWr0eh2objJ6U_1hK\u0026X-Amz-Signature=fbe4f0d9f27a14a2f90bafc641b25ee505258defa5daf0d128a83d5e698b7c70"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://s3.amazonaws.com/objects.brickftp.com/metadata/37263/da447911-b58f-4a59-aee0-248ce00a088c?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIEWLY3MN4YGZQOWA%2F20230206%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230206T165233Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&partNumber=1&response-content-type=application%2Foctet-stream&uploadId=J8RzeNgG8r1gSBz6o10X_Dj8CW99N.DjbdfN4LnURD3kEBFQ7kUIYW17dC9f6AZUlbHuylCqwe9dzgm1jQPWQrM0kR40SJlzsWC2d_l.u1T2f2HgWr0eh2objJ6U_1hK&X-Amz-Signature=fbe4f0d9f27a14a2f90bafc641b25ee505258defa5daf0d128a83d5e698b7c70
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Amz-Request-Id:
      - Y44KH1C84VMDDKMQ
      X-Amz-Server-Side-Encryption:
      - AES256
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"action":"end","etags":[{"etag":"d41d8cd98f00b204e9800998ecf8427e","part":"1"}],"mkdir_parents":true,"provided_mtime":"2023-02-06T08:52:31.503080193-08:00","ref":"put-4118333541"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt
    method: POST
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:52:34Z","mtime":"2023-02-06T16:52:34Z","provided_mtime":"2023-02-06T16:52:31Z","crc32":null,"md5":null,"mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest","display_name":"Dest","type":"directory","size":null,"created_at":"2023-02-06T16:52:33Z","mtime":"2023-02-06T16:52:34Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T16:52:33Z","mtime":"2023-02-06T16:52:34Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/folders/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo?page=1
    method: GET
  response:
    body: '[{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:52:34Z","mtime":"2023-02-06T16:52:34Z","provided_mtime":"2023-02-06T16:52:31Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}]'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo","display_name":"foo","type":"directory","size":null,"created_at":"2023-02-06T16:52:33Z","mtime":"2023-02-06T16:52:34Z","provided_mtime":null,"crc32":null,"md5":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/file_actions/metadata/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt
    method: GET
  response:
    body: '{"path":"tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root/Dest/foo/baz.txt","display_name":"baz.txt","type":"file","size":0,"created_at":"2023-02-06T16:52:34Z","mtime":"2023-02-06T16:52:34Z","provided_mtime":"2023-02-06T16:52:31Z","crc32":"0","md5":"d41d8cd98f00b204e9800998ecf8427e","mime_type":"text/plain","region":"us-east-1","permissions":"lrwd"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://app.files.com/api/rest/v1/files/tmp/TestUpload-files-cli_upload-copy_foo_to_Dest/dest-root?recursive=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 204 No Content
    code: 204
    duration: ""
